{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>TREADMILL</title>

<style>
  body{
    display: block !important ; 
    margin: 8px !important;
    width: 100% !important;
  }
</style>
  <!-- Bootstrap core CSS -->
  <link href="{% static 'joints/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'joints/css/modern-business.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">TREADMILL</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Private Policy</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <hr>

  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('{%static 'joints/images/1.jpg.jpg' %}')">
          <div class="carousel-caption d-none d-md-block">
            <h3>TREADMILL DEAL!</h3>
            <p>Get your Treadmill at affordable price</p>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('{%static 'joints/images/2.jpg.jpg' %}')">
          <div class="carousel-caption d-none d-md-block">
            <h3>DISCOUNT RATE!</h3>
            <p>We give over 50% discounts</p>
          </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('{%static 'joints/images/3.jpg.jpg' %}')">
          <div class="carousel-caption d-none d-md-block">
            <h3>FREE SHIPPING</h3>
            <p>we do free delivery for our regular customers.</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>

  <!-- Page Content -->
    <!-- Portfolio Section -->
    <h1 class="my-4">Treadmill Deals......</h1>

    <div class="row">
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="{%static 'joints/images/t1.jpg' %}" alt="TREADMILL"></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://www.amazon.com/gp/product/B01NBWU4CX/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=2306e2-20&creative=9325&linkCode=as2&creativeASIN=B01NBWU4CX&linkId=469c4da3e7e63a46feffda1d888e62f3">
              </iframe>">Sunny Health & Fitness ASUNA Space Saving Treadmil</a>
            </h4>
            <p class="card-text">
              EASY-TO-USE DISPLAY: Watch your workout progress in real-time with the 4-window display. View your time, distance, speed, and calories burned all at the same time. Use the integrated pedometer to track your steps during each exercise session.
              </p>
              <a href="https://www.amazon.com/gp/product/B01NBWU4CX/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=2306e2-20&creative=9325&linkCode=as2&creativeASIN=B01NBWU4CX&linkId=469c4da3e7e63a46feffda1d888e62f3"  class="btn btn-secondary">$699.00</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="{%static 'joints/images/t2.jpg' %}" alt="TREADMILL"></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://www.amazon.com/gp/product/B08XNTG9KD/ref=as_li_tl?ie=UTF8&tag=2306e2-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B08XNTG9KD&linkId=ea7f62cf8463050302535b7c0cbe6b66">Stamina Inmotion Manual Treadmill (Pewter Grey, Black</a>
            </h4>
            <p class="card-text">Manual treadmill with dual weighted flywheels and two incline positions (10 and 8 degrees),One-year frame warranty; 90-day parts warranty</p>
            <a href="https://www.amazon.com/gp/product/B08XNTG9KD/ref=as_li_tl?ie=UTF8&tag=2306e2-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B08XNTG9KD&linkId=ea7f62cf8463050302535b7c0cbe6b66"  class="btn btn-secondary">$265.99</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://www.amazon.com/gp/product/B08SBW6F4Y/ref=as_li_tl?ie=UTF8&tag=2306e2-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B08SBW6F4Y&linkId=ffcc868a42bc48916831aa44a5294dca"><img class="card-img-top" src="{%static 'joints/images/t3.jpg' %}" alt="TREADMILL"></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://www.amazon.com/gp/product/B08SBW6F4Y/ref=as_li_tl?ie=UTF8&tag=2306e2-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B08SBW6F4Y&linkId=ffcc868a42bc48916831aa44a5294dca">Sunny Health & Fitness Electric Folding Treadmill with Auto Incline</a>
            </h4>
            <p class="card-text">PRODUCT DIMENSIONS: 70L x 31W x 51H in | FOLDED DIMENSIONS: 45L x 31W x 62.5H in | WEIGHT LIMIT: 285l</p>
            <a href="https://www.amazon.com/gp/product/B08SBW6F4Y/ref=as_li_tl?ie=UTF8&tag=2306e2-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B08SBW6F4Y&linkId=ffcc868a42bc48916831aa44a5294dca"  class="btn btn-secondary">$499.89</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://www.amazon.com/gp/product/B08YCY3ZG3/ref=as_li_tl?ie=UTF8&tag=2306e2-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B08YCY3ZG3&linkId=b7ad746ed22d0ced0decf38d94b9665b"><img class="card-img-top" src="{%static 'joints/images/t4.jpg' %}" alt="TREADMILL"></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://www.amazon.com/gp/product/B08YCY3ZG3/ref=as_li_tl?ie=UTF8&tag=2306e2-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B08YCY3ZG3&linkId=b7ad746ed22d0ced0decf38d94b9665b">Schwinn 810 Treadmill</a>
            </h4>
            <p class="card-text">Access the Explore the World app and digitally immerse yourself in a world of virtual races, exotic locales, and stunning trails from around the globe (3 free courses. Unlock more with Explore the World subscription</p>
            <a href="https://www.amazon.com/gp/product/B08YCY3ZG3/ref=as_li_tl?ie=UTF8&tag=2306e2-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B08YCY3ZG3&linkId=b7ad746ed22d0ced0decf38d94b9665b"  class="btn btn-secondary">$289.99</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="{%static 'joints/images/t13.jpg' %}" alt="TREADMIL"></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://www.amazon.com/gp/product/B08Y8LLL9F/ref=as_li_tl?ie=UTF8&tag=2306e2-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B08Y8LLL9F&linkId=82272bbf1a31be2542e966c428dad371">Sunny Health & Fitness SF-T7604 Motorized Treadmill, Grey
              </a>
            </h4>
            <p class="card-text">2.5HP peak DC motor with a 18x51 inch running surface
              Easy Folding mechanism, transportation wheels, and a soft drop System helps you store your Treadmill safely and with ease
              Over 15 built-in user programs with 3 manual Adjustable levels of incline
              Large 4.5x2. 5 inch LCD monitor displays time, speed, distance, calories, Pulse
              Max. User weight of 265 lbs</p>
              <a href="https://www.amazon.com/gp/product/B08Y8LLL9F/ref=as_li_tl?ie=UTF8&tag=2306e2-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B08Y8LLL9F&linkId=82272bbf1a31be2542e966c428dad371"  class="btn btn-secondary">$175.88</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="{%static 'joints/images/t6.jpg' %}" alt="TREADMILL"></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://www.amazon.com/gp/product/B07S8P3NTH/ref=as_li_tl?ie=UTF8&tag=2306e2-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B07S8P3NTH&linkId=c7b3b0469e9260c2131eb82cdb62f922">800W Folding Electric Treadmill, Motorized Fitness Exercise Machine for Home Gym, Cardio Training w/Wheels, Safety Key, Heart Sensor</a>
            </h4>
            <p class="card-text">AUTOMATIC/MANUAL SPEED SETTINGS: Quickly switch between six preset speeds (0.5, 3, 4, 5, 6, and 7 mph), or adjust with the -/+ buttons for more options (max speed 7.5 mph)</p>
            <a href="#"  class="btn btn-secondary">$299.99</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
    <hr><br><br/>
    

    <!-- Features Section -->
    <div class="row ">
      <div class="col-lg-6">
        <script type="text/javascript">
          amzn_assoc_placement = "adunit0";
          amzn_assoc_search_bar = "true";
          amzn_assoc_tracking_id = "2306e2-20";
          amzn_assoc_search_bar_position = "bottom";
          amzn_assoc_ad_mode = "search";
          amzn_assoc_ad_type = "smart";
          amzn_assoc_marketplace = "amazon";
          amzn_assoc_region = "US";
          amzn_assoc_title = "Shop Related Products";
          amzn_assoc_default_search_phrase = "jogging";
          amzn_assoc_default_category = "All";
          amzn_assoc_linkid = "5a33bed9a06d04b530a18f2fe8bca67a";
          </script>
          <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
      </div>
      <div class="col-lg-6 ">
        <script type="text/javascript">
          amzn_assoc_placement = "adunit0";
          amzn_assoc_search_bar = "true";
          amzn_assoc_tracking_id = "2306e2-20";
          amzn_assoc_search_bar_position = "bottom";
          amzn_assoc_ad_mode = "search";
          amzn_assoc_ad_type = "smart";
          amzn_assoc_marketplace = "amazon";
          amzn_assoc_region = "US";
          amzn_assoc_title = "Shop Related Products";
          amzn_assoc_default_search_phrase = "treadmill";
          amzn_assoc_default_category = "All";
          amzn_assoc_linkid = "5a33bed9a06d04b530a18f2fe8bca67a";
          </script>
          <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
      </div>
  </div>
    <!-- /.row -->

    <hr>

    <!-- Call to Action Section -->
    <div class="row mb-4">
      <div class="col-md-6">
        
        <p>  Jogging in your own home is never been easier! we searched all Amazon.com 
          for the lowest treadmills prices.</p>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg btn-secondary btn-block" href="https://amzn.to/31h5RqS">Shop Treadmills On Amazon</a>
      </div>
    </div>

  <!-- </div> -->
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy;2021 Design By Barth_Bassey</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'joints/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'joints/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
